{% extends 'Base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div>
<!--  <img src="{% static 'payment.png' %}">-->
  <h4><b>Tender Fee Payment Number</b></h4><br>
  <h5>Bkash- 01720202021, Nagad- 01920202021, Rocket- 01820202021</h5><br>
  <h4><b>Security Money Bank Acc No </b></h4>
  <h5>Islami Bank - 2551050016314</h5>
</div>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="modal-header">
     <h4 class="modal-title">Apply To Tender</h4>

  </div>
  <div class="modal-body">
    {{ form|crispy }}
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Apply Tender</button>
  </div>
</form>
{% endblock content %}